

body, h1, h2, a {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	background-color: #97282c;
	color: white;
	text-decoration: none;
}

pre {
	background-color: #2d2d2d;
	color: white;
}

h1 {
	text-align: center;
}

