

body, h1, h2, a {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	background-color: #97282c;
	color: white;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
	color: white;
}

pre, code {
	background-color: #2d2d2d;
	color: white;
}

h1 {
	text-align: center;
}

